#welcomePage {
  min-height: 100vh;
  background: linear-gradient(135deg, #2563eb, #9333ea, #0f172a);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.welcomeBox {
  background: rgba(15, 23, 42, 0.9);
  padding: 35px 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px black;
}

.welcomeBox h1 {
  font-size: 34px;
}

.welcomeBox span {
  color: #22c55e;
  text-shadow: 0 0 15px #22c55e;
}

.introText {
  margin-top: 15px;
  line-height: 1.8;
  font-size: 16px;
  color: #e2e8f0;
}

.welcomeBox button {
  margin-top: 20px;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  background: #22c55e;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#platformPage {
  display: none;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #2563eb, #9333ea);
}

header h1 {
  font-size: 32px;
}

section {
  padding: 25px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.cards button {

  padding: 22px;
  border: none;
  border-radius: 18px;
  background: linear-gradient(145deg, #1e293b, #0f172a);
  color: white;
  box-shadow: 0 8px 18px black;
  text-align: left;
  transition: 0.3s;
}
.cards button img {
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
}

.cards button span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.cards button small {
  display: block;
  color: #cbd5e1;
  font-size: 13px;
  line-height: 1.5;
}

.cards button:hover {
  background: linear-gradient(145deg, #2563eb, #9333ea);
  transform: scale(1.03);
}

.lesson, .practice {
  background: #111827;
  margin: 20px;
  border-radius: 15px;
}

textarea {
  width: 100%;
  height: 180px;
  background: #020617;
  color: #22c55e;
  border: 1px solid #334155;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

.runBtn {
  margin-top: 15px;
  padding: 12px 25px;
  background: #22c55e;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

#outputBox {
  background: black;
  color: #22c55e;
  padding: 15px;
  border-radius: 10px;
  min-height: 60px;
}
.cards button span {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}

.cards button small {
  display: block;
  color: #cbd5e1;
  font-size: 12px;
  line-height: 1.4;
} 